[user]
    email = nosrac925@gmail.com
    name = carson radtke
[credential]
    username = <redacted>
    helper = store
[alias]
    find = grep -n --full-name
[commit]
    template = ~/.gitcommitmsg
[init]
    defaultBranch = main

