[user]
    email = nosrac925@gmail.com
    name = carson radtke
    signingkey = ~/.ssh/id_rsa_signing
[credential]
    username = carsonRadtke
    helper = store
[alias]
    find = grep -n --full-name
    files = !git diff --name-only $(git merge-base HEAD \"$TRUNK\")
    stat = !git diff --stat $(git merge-base HEAD \"$TRUNK\")
    changes = !git diff $(git merge-base HEAD \"$TRUNK\")
[commit]
    template = ~/.gitcommitmsg
    gpgSign = true
[init]
    defaultBranch = main
[gpg]
    format = ssh
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[core]
    excludesFile = ~/.gitignore
